<div class="card mt-2">
  <div class="card-header" >
    <strong>ผู้ใช้ในระบบ</strong>
  </div>
  <button (click)="btncreate()" type="button"  class="btn btn-success col-1">เพิ่มผู้ใช้</button>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ไอดีผู้ใช้</th>
              <th scope="col">ชื่อผู้ใช้</th>
              <th scope="col">เบอร์ติดต่อ</th>
              <th scope="col">คำเเนะนำเพิ่มเติม</th>
              <th scope="col">เขตที่อยู่</th>
              <th scope="col">แขวงที่อยู่</th>
              <th scope="col">ปฏิบัติการ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{item.id_user}}</td>
              <td>{{item.username}}</td>
              <td>{{item.contact}}</td>
              <td>{{item.information}}</td>
              <td>{{item.name_district}}</td>
              <td>{{item.name_subdistrict}}</td>
              <td>
                <button (click)="btnedituser(item.id_user)" type="button" class="btn btn-info">แก้ไข</button>
                <button (click)="removeuser(item)" type="button" class="btn btn-danger">ลบ</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
