<form [formGroup]="this.validateForm">
  <div class="card">
      <div class="card-header">
        <strong>เเก้ไขผู้ใช้</strong>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="form-group col-md-2">
                <label for="username" style="font-size: 1.25rem;">ชื่อผู้ใช้</label>
                <input type="text" class="form-control form-control-lg" id="username" placeholder="ชื่อ" required title="กรุณากรอกชื่อผู้ใช้" formControlName="username">
              </div>
              <div class="form-group col-md-2">
                <label for="password" style="font-size: 1.25rem;">รหัสผ่าน</label>
                <input type="password" class="form-control form-control-lg" id="password" placeholder="รหัสผ่าน" required title="กรุณากรอกรหัสผ่าน" formControlName="password">
              </div>
              <div class="form-group col-md-2">
                  <label for="contact" style="font-size: 1.25rem;">เบอร์ติดต่อ</label>
                  <input type="number" class="form-control form-control-lg " id="contact" placeholder="ข้อมูลเบอร์ติดต่อ" required title="กรุณากรอกข้อมูลเบอร์ติดต่อ" formControlName="contact">
              </div>
              <div class="form-group col-md-6">
                  <label for="information" style="font-size: 1.25rem;">คำเเนะนำเพิ่มเติม</label>
                  <input type="text" class="form-control form-control-lg" id="information" placeholder="รายละเอียดข้อมูล" required title="กรุณากรอกรายละเอียดข้อมูล" formControlName="information">
              </div>
          </div>
  
          <div class="row">
                <label for="contact" style="font-size: 1.25rem;">ที่อยู่</label>
          </div>
          
          <div class="row">
            <div class="form-group col-md-2">
              <label for="DistrictFormControlSelect"><strong>เขตที่อยู่</strong></label>
              <select (ngModelChange)="getiddistrict($event)" formControlName="id_district" class="form-control" id="DistrictFormControlSelect" >
                <option *ngFor="let district of listdistricts" [value]="district.id_district">{{district.name_district}}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="SubDistrictFormControlSelect"><strong>เเขวงที่อยู่</strong></label>
              <select formControlName="id_subdistrict" class="form-control" id="SubDistrictFormControlSelect">
                <option *ngFor="let subdistrict of listsubdistricts" [value]="subdistrict.id_subdistrict">{{subdistrict.name_subdistrict}}</option>
              </select>
            </div>
          </div>
          
          <div class="row">
            <button type="submit" class="btn btn-primary" (click)="edituserbyid()">บันทึกข้อมูล</button>
          </div>
      </div>
  </div>
</form>
  