<div class="card">
  <div class="card-header" style="display: flex;
    justify-content: space-between;;">
    <h2>Maid</h2>
    <button type="button" class="btn btn-outline-success">+ เพิ่มแม่บ้าน</button>
  </div>
  <div class="card-body">
    <nz-table #dataFeedbacks [nzData]="feedbacks">
      <thead>
        <tr>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>ปัญหา</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataFeedbacks.data">
          <td>{{ data.fname }}</td>
          <td>{{ data.lname }}</td>
          <td>{{ data.feedback_description }}</td>
          <td>
            {{ data.lname }}
          </td>
          <td>
            <button type="button" class="btn btn-primary">เพิ่มงาน</button>
          </td>

        </tr>
      </tbody>
    </nz-table>
  </div>
</div>