<div class="card">
  <div class="card-header">
    <strong>ผู้ใช้ในระบบ</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">จำนวนเจ้าของสัตว์เลี้ยง</h5>
            <p class="card-text" style="font-size: 40px;">3</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">จำนวนเจ้าของสัตว์เลี้ยง</h5>
            <p class="card-text" style="font-size: 40px;">3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
