<div class="container-fluid ps-md-0 d-flex justify-content-center align-items-center min-vh-100 background-image" style="background-color: #808494;">
  <form [formGroup]="formGroup">
      <div class="login-container bg-white p-5 rounded">
        <h2 class="login-heading mb-4 text-center">เข้าสู่ระบบแอดมิน</h2>

        <div class="form-floating mb-3">
          <input formControlName="username" type="text" class="form-control" id="floatingInput" placeholder="ชื่อผู้ใช้" >
          <label for="floatingInput">ชื่อผู้ใช้</label>
        </div>


        <div class="form-floating mb-3">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="ชื่อผู้ใช้">
          <label for="floatingPassword">รหัสผ่าน</label>
        </div>

        <div class="d-grid">
          <button class="btn btn-lg text-uppercase fw-bold mb-2 background-button-login" type="button" (click)="login()">ยืนยันเข้าสู่ระบบ</button>
        </div>
      </div>
  </form>
</div>