
ul {
  background: linear-gradient(to right, #302c2c ,#808494);
  height: 150px; /* ลดความสูงเพื่อให้แสดงถูกต้อง */
  display: flex; /* เพิ่มคุณสมบัติ flex เพื่อจัดกลุ่มรายการเมนูและรูปภาพในบรรทัดเดียวกัน */
  align-items: center; /* จัดให้รายการเมนูและรูปภาพอยู่ตรงกลางกันในแนวตั้ง */
}

li {
  font-size: 20px;
  margin-right: 20px; /* ระยะห่างระหว่างรายการเมนูทางขวา */
  color: white;
}
/* a {
  color: white;
} */

.icon {
  font-size: 20px;
}

