<nz-layout>
  <header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <img [src]="imgpetmatch" alt="" style="width: 150px;">
      <li nz-menu-item [routerLink]="['/main']">
        <i nz-icon nzType="home"></i>
        หน้าแรก</li>
      <li nz-menu-item [routerLink]="['/manage-user']">
        <i nz-icon nzType="user"></i>
        ผู้ใช้ทั้งหมด</li>
      <li nz-menu-item [routerLink]="['/manage-pet']">
        <i nz-icon nzType="heart"></i>
        สัตว์เลี้ยงทั้งหมด</li>
      <li nz-menu-item [routerLink]="['/manage-review']">
        <i nz-icon nzType="form"></i> 
        รีวิวทั้งหมด</li>
      <li nz-menu-item [routerLink]="['/login']" class="logout-menu-item">
        <i nz-icon nzType="logout"></i>
        ออกจากระบบ</li>
    </ul>
  </header>
</nz-layout>


<!-- Page Content  -->
<div id="content">
  <div class="container-fluid">
    <!-- alert success -->
    <div class="alert alert-success alert-dismissible fade show" style="display: none" id="alert-success">
      <a class="close" onclick="$('#alert-success').hide()">×</a>
      <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    <!-- alert danger -->
    <div class="alert alert-danger alert-dismissible fade show" style="display: none" id="alert-danger">
      <a class="close" onclick="$('#alert-danger').hide()">×</a>
      <strong>Danger!</strong> fail process.
    </div>
    <!-- alert warning -->
    <div class="alert alert-warning alert-dismissible fade show" style="display: none" id="alert-warning">
      <a class="close" onclick="$('#alert-warning').hide()">×</a>
      <strong>Warning!</strong> Warning process.
    </div>
    <div style="padding: 10px;">
      <router-outlet></router-outlet>
    </div>
  </div>
