<ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
      <img [src]="imgpetmatch" style="width: 280px; margin-right: 20px;">
    </li>
    <li nz-menu-item nzSelected>
        <a routerLink="/main">
        <span nz-icon nzType="home" nzTheme="outline" class="icon"></span>
        <span>หน้าเเรก</span>
        </a>
    </li>
    <li nz-menu-item nzSelected>
        <a routerLink="/manage-user">
        <span nz-icon nzType="user" nzTheme="outline" class="icon"></span>
        <span>ผู้ใช้</span>
        </a>
    </li>
    <li nz-menu-item nzSelected>
        <a routerLink="/review">
        <span nz-icon nzType="form" nzTheme="outline" class="icon"></span>
        <span>รีวิว</span>
    </a>
    </li>
    <li nz-menu-item nzSelected>
        <a routerLink="/login">
        <span nz-icon nzType="logout" nzTheme="outline" class="icon" style="color: red;"></span>
        <span style="color: red;">ออกจากระบบ</span>
        </a>
    </li>
</ul>

    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <!-- alert success -->
            <div class="alert alert-success alert-dismissible fade show" style="display: none" id="alert-success">
                <a class="close" onclick="$('#alert-success').hide()">×</a>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>
            <!-- alert danger -->
            <div class="alert alert-danger alert-dismissible fade show" style="display: none" id="alert-danger">
                <a class="close" onclick="$('#alert-danger').hide()">×</a>
                <strong>Danger!</strong> fail process.
            </div>
            <!-- alert warning -->
            <div class="alert alert-warning alert-dismissible fade show" style="display: none" id="alert-warning">
                <a class="close" onclick="$('#alert-warning').hide()">×</a>
                <strong>Warning!</strong> Warning process.
            </div>
            <router-outlet></router-outlet>
        </div>
