<div class="wrapper">
    <nav id="sidebar" class="shadow">
        <div class="sidebar-header text-center">
            <img class="logo"
                [src]="imageUrl"
                alt="logo" style="width: 280px;">
        </div>

        <ul class="list-unstyled list-main components mt-4">
            <li>
                <a routerLink="/dashboard">
                    <i class="fa fa-home" style="margin-right: 15px;"></i>หน้าแรก
                </a>
            </li>
            <li>
                <a routerLink="/maid/maid-list">
                    <i class="fa fa-bath" aria-hidden="true" style="margin-right: 15px;"></i>แม่บ้าน
                </a>
            </li>
            <li>
                <a routerLink="/user/user-list">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ลูกบ้าน
                </a>
            </li>
            <li>
                <a routerLink="/report/reportproblem">
                    <i class="fa fa-flag" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;รายงานปัญหา
                </a>
            </li>
             <li>
                <a routerLink="/login">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ออกจากระบบ
                </a>
            </li>
        </ul>
    </nav>


    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light shadow colorNav p-3">
            <div class="container-fluid">
                <i class="fa fa-bars" aria-hidden="true" id="sidebarCollapse"
                    style="color:aliceblue; cursor: pointer;"></i>
                <div style="color: azure;">
                    ผู้ใช้งาน: นายเอ ใจดี
                </div>

                <!-- <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" style="padding-right: 44px">
                        <a class="dropdown-toggle user" data-toggle="dropdown" href="#">
                            <i class="fa fa-user "></i> นาย เอ
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu p-2">
                            <li>
                                <a routerLink="/login"><i class="fa fa-sign-out text-danger"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
            </div>
        </nav>
        <div class="container-fluid">
            <!-- alert success -->
            <div class="alert alert-success alert-dismissible fade show" style="display: none" id="alert-success">
                <a class="close" onclick="$('#alert-success').hide()">×</a>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>
            <!-- alert danger -->
            <div class="alert alert-danger alert-dismissible fade show" style="display: none" id="alert-danger">
                <a class="close" onclick="$('#alert-danger').hide()">×</a>
                <strong>Danger!</strong> fail process.
            </div>
            <!-- alert warning -->
            <div class="alert alert-warning alert-dismissible fade show" style="display: none" id="alert-warning">
                <a class="close" onclick="$('#alert-warning').hide()">×</a>
                <strong>Warning!</strong> Warning process.
            </div>
            <div (click)="otherClick()">
                <router-outlet></router-outlet>
                <div class="pb-4">
                </div>
            </div>
        </div>