<div class="card mt-2">
    <div class="card-header" >
      <strong>รีวิวในระบบ</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ไอดีรีวิว</th>
                <th scope="col">ข้อมูลรีวิว</th>
                <th scope="col">ดาว</th>
                <th scope="col">ชื่อผู้ใช้ที่มารีวิว</th>
                <th scope="col">ชื่อสัตว์เลี้ยงของเจ้าของที่มารีวิว</th>
                <th scope="col">ปฏิบัติการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{item.id_review}}</td>
                <td>{{item.review_info}}</td>
                <td>{{item.star}} ดาว</td>
                <td>{{item.username}}</td>
                <td>{{item.name_pet}}</td>
                <td>
                  <button (click)="removereview(item.id_review)" type="button" class="btn btn-danger">ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

