<div class="card">
    <div class="card-header">
      <strong>เเก้ไขข้อมูลสัตว์เลี้ยง</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md">
              <label for="username" style="font-size: 1.25rem;">ชื่อผู้ใช้</label>
              <input type="text" class="form-control form-control-lg" id="username" placeholder="username">
            </div>
            <div class="form-group col-md">
              <label for="password" style="font-size: 1.25rem;">รหัสผ่าน</label>
              <input type="password" class="form-control form-control-lg" id="password" placeholder="password">
            </div>
        </div>
            <div class="form-group">
                <label for="contact" style="font-size: 1.25rem;">เบอร์ติดต่อ</label>
                <input type="text" class="form-control form-control-lg " id="contact" placeholder="ข้อมูลเบอร์ติดต่อ">
            </div>
            <div class="form-group">
                <label for="information" style="font-size: 1.25rem;">คำเเนะนำเพิ่มเติม</label>
                <input type="text" class="form-control form-control-lg " id="information" placeholder="รายละเอียดข้อมูล">
            </div>
            <div class="form-group">
                <label for="contact" style="font-size: 1.25rem;">ที่อยู่</label>
            </div>
          <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
    </div>
  </div>